@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-base: rgb(30, 30, 46);
  --color-mantle: rgb(24, 24, 37);
  --color-crust: rgb(17, 17, 27);
  --color-text: rgb(205, 214, 244);
  --color-red: rgb(243, 139, 168);
  --color-mauve: rgb(203, 166, 247);
  --color-rosewater: rgb(245, 224, 220);
  --color-subtext: rgb(186, 194, 222);
  --color-blue: rgb(137, 180, 250);
  --color-blue-shadow: rgba(137, 180, 250, 0.45);
  --color-green: rgb(166, 227, 161);

  --max-width: 1500px;
  --padding-x: 0 4rem;
  --border-radius: 12px;
  --section-margin-bottom: 180px;
  --margin-centering: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--color-text);
}

.nav {
  height: 75px;
}

body {
  background-color: var(--color-base);
  margin: 0;
  min-height: 100vh;
}

.nav-container {
  max-width: 1200px;
  height: 100%;
  margin: var(--margin-centering);
  padding: var(--padding-x);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-mauve);
}

.nav-logo span {
  color: var(--color-rosewater);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;

  font-size: 1rem;
  font-weight: 500;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  padding: 0.8rem;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: var(--color-mauve);
}

.hire-me-btn {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  border: 1.2px solid var(--color-mauve);

  background-color: var(--color-base);
  color: var(--color-text);

  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
}

.hire-me-btn:hover {
  color: var(--color-mantle);
  background-color: var(--color-mauve);
  border: 1.2px solid var(--color-mauve);
}

/* Hero Section */

.hero {
  padding: 4rem 0;
  min-height: calc(100vh - 100px);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: var(--max-width);
  margin: var(--margin-centering);
  padding: var(--padding-x);
  gap: 5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  max-width: 600px;
}

.hero-content h5 {
  font-size: 1.4rem;
  font-weight: 500;

  color: var(--color-mauve);
}

.hero-content h1 {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 65px;
  color: var(--color-text);
}

.hero-content p {
  color: var(--color-subtext);
}

.hero-buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.hero-buttons a {
  text-decoration: none;
  border-radius: 8px;
  padding: 0.9rem 1.8rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn-primary {
  color: var(--color-crust);
  background-color: var(--color-blue);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(137, 180, 250, 0.3);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--color-blue);
  color: var(--color-text);
}

.btn-secondary:hover {
  background-color: var(--color-blue);
  color: var(--color-crust);
}

.hero-image img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}

/* Project Section */

.projects {
  margin-bottom: var(--section-margin-bottom);
}

.projects-container {
  max-width: var(--max-width);
  margin: var(--margin-centering);
  padding: 3rem;

  background-color: var(--color-crust);
  border-radius: 12px;
}

.projects-heading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-bottom: 4.6rem;
  line-height: 3rem;
}

.projects-heading-box h5 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-mauve);
}

.projects-heading-box h2 {
  font-size: 3.2rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 1.6rem;
  margin: var(--margin-centering);
}

.project-box {
  display: flex;
  flex-direction: column;

  background-color: var(--color-mantle);
  border-radius: 12px;
  padding: 0.8rem;
  gap: 1rem;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.project-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px var(--color-blue-shadow);
}

.project-img-box {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;

  transition: transform 0.3s ease;
}

.project-img-box:hover .project-image {
  transform: scale(1.1);
}

.project-description p {
  color: var(--color-text);
}

/* Services Section */

.services {
  margin-bottom: var(--section-margin-bottom);
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: var(--max-width);
  margin: var(--margin-centering);
  padding: 3rem;
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.services-headings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-bottom: 4.6rem;
  line-height: 3rem;
}

.services-headings h5 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-mauve);
}

.services-headings h2 {
  font-size: 3rem;
}

.services-content-box {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  background-color: var(--color-crust);
  padding: 2rem;
  gap: 1rem;
}

.service-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;
  background-color: var(--color-mauve);
  border-radius: 12px;
}

.service-logo i {
  font-size: 2.4rem;
  color: var(--color-crust);
}

.service-content h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-mauve);
}

.service-logo p {
  color: var(--color-subtext);
}

/* Price Section */

.price {
  margin-bottom: var(--section-margin-bottom);
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: var(--max-width);
  margin: var(--margin-centering);
}

.price-headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 4.6rem;
  line-height: 3rem;
}

.price-headings h5 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-mauve);
}

.price-headings h2 {
  font-size: 3rem;
}

.price-content-box {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.price-content-one,
.price-content-two {
  padding: 3rem;
  background-color: var(--color-crust);
  border-radius: 12px;
}

.price-content-one h4,
.price-content-two h4 {
  font-size: 1.4rem;
  color: var(--color-mauve);
  margin-bottom: 1.6rem;
}

.price-content-one .price-text,
.price-content-two .price-text {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 1rem 0 2rem;
  color: var(--color-mauve);
}

.price-content-one ul,
.price-content-two ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}

.price-content-one ul li i,
.price-content-two ul li i {
  color: var(--color-mauve);
  font-weight: 800;
  font-size: 1.2rem;
}

.price-content-one ul li span,
.price-content-two ul li span {
  font-size: 1.2rem;
  font-weight: 500;
}

.price-btn {
  padding: 2rem;
  background-color: var(--color-mauve);
}

.price-content-one a,
.price-content-two a {
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text);
  padding: 0.8rem;
  background-color: var(--color-mantle);
  border: 1px solid var(--color-mauve);
  border-radius: 6px;

  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
}

.price-content-one a:hover,
.price-content-two a:hover {
  color: var(--color-crust);
  background-color: var(--color-mauve);
}

/* Footer */

footer {
  margin-bottom: var(--section-margin-bottom);
  background-color: var(--color-crust);
}

.footer-container {
  text-align: center;
  max-width: var(--max-width);
  padding: 3rem;
  margin: var(--margin-centering);
}

.footer-container h5 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-mauve);
  line-height: 0.8rem;
}

.footer-container h2 {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.footer-container ul {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  gap: 1rem;
  font-size: 2.2rem;
}

.footer-container ul li {
  cursor: pointer;
}

.footer-container ul li i {
  color: var(--color-subtext);
}
